extends layout

block body
  header
    nav.blue.darken-3.top-nav
      .nav-wrapper                
        ul#nav-mobile.right.side-nav.valign-wrapper
          li 
            a(href="#") Login
          li
            #gSignInWrapper              
              #customBtn.customGPlusSignIn.valign
                span.icon
                span.buttonText Google    
            //- a#signinButton Sign in with Google
          li 
            a(href="#") Register
          li 
            a(href="#") New Channel

  mediummain

  footer.page-footer.orange
    .container
      .row
        .col.l6.s12
          h5.white-text About medium
          p.grey-text.text-lighten-4.light 
            | medium developed out of frustration at the lack of a good way to gather up and present a bunch of videos.
            | Sometimes all we want to do is click three times and have a bunch of music videos play on our TVs, is that too much to ask for?
        .col.l4.offset-l2.s12
          h5.white-text medium is built with
          .row
            .col.l6.s12
              ul
                li
                  a.grey-text.text-lighten-3(href='#!') node.js
                li
                  a.grey-text.text-lighten-3(href='#!') express
                li
                  a.grey-text.text-lighten-3(href='#!') jade
                li
                  a.grey-text.text-lighten-3(href='#!') gulp
            .col.l6.s12
              ul
                li
                  a.grey-text.text-lighten-3(href='#!') riot
                li
                  a.grey-text.text-lighten-3(href='#!') riak
                li
                  a.grey-text.text-lighten-3(href='#!') sass
                li
                  a.grey-text.text-lighten-3(href='#!') and love
    .footer-copyright
      .container
        | © 2015 medium
        a.grey-text.text-lighten-4.right(href='//github.com/JoeMattie/medium') github

  script(src='lib/jquery/dist/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/utils/Draggable.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js')
  //- script(src='lib/masonry/dist/masonry.pkgd.min.js')
  script(src='lib/materialize/dist/js/materialize.min.js')
  script(src='lib/videojs/dist/video-js/video.dev.js')
  script(src='lib/vjs.youtube.js')
  script(src='lib/vjs.vimeo.js')    
  script(src='lib/riot.min.js')
  script(src='js/video.js')
  script(src='js/medium.js')


  script.
    riot.mount('mediummain', {
      videomode: false,
      videodata: {},
      items: [ 
        {
          icon: 'mdi-social-whatshot',
          title: 'popular channels',
          content: 'Our best and most popular channels: curated by humans, for humans.'
        },
        {
          icon: 'mdi-social-share',
          title: 'subreddit feeds',
          content: 'Constantly updated feeds from a number of popular subreddits.',
          channels: [ 
            { name: 'Videos',
              path: '/r/Videos',
              desc: 'The most popular videos as of RIGHT NOW!'
            },
            {
              name: 'FunnyVideos',
              path: '/r/FunnyVideos',
              desc: 'Funny'
            }
          ]
        }
      ]
    });    
  

    
    
    $('#customBtn').click(function() {
      gapi.signin.render('customBtn', {
        'callback': function(authResult){
            if (authResult['status']['signed_in']) $('#signinButton').hide();
            else console.log('Sign-in state: ' + authResult['error']);},
        'clientid': '819951061861-u7punsge58l3d7du1aehm2ccljghbdo9.apps.googleusercontent.com',
        'cookiepolicy': 'single_host_origin',
        'requestvisibleactions': 'http://schema.org/AddAction',
        'scope': 'https://www.googleapis.com/auth/plus.login'
      });
        gapi.auth.signIn({ });
    });