doctype html
html(lang='en')
  head
    meta(charset='utf8' http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name="google-signin-clientid" content="819951061861-u7punsge58l3d7du1aehm2ccljghbdo9.apps.googleusercontent.com")
    meta(name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login")
    meta(name="google-signin-requestvisibleactions" content="http://schema.org/AddAction")
    meta(name="google-signin-cookiepolicy" content="single_host_origin")

    title medium... channel your videos!    
    link(rel='stylesheet', type='text/css', media='screen,projection', href='lib/videojs/dist/video-js/video-js.min.css')
    link(rel='stylesheet', type='text/css', media='screen,projection', href='css/medium.css')    
    script(src='https://apis.google.com/js/client:platform.js' async defer)
  body
    block body